@page
@model FilmFunForum2.Pages.Admin.ForumPostAdmin.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>ForumPost</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ForumPost.Id" />
            <div class="form-group">
                <label asp-for="ForumPost.CategoryId" class="control-label"></label>
                <input asp-for="ForumPost.CategoryId" class="form-control" />
                <span asp-validation-for="ForumPost.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ForumPost.Title" class="control-label"></label>
                <input asp-for="ForumPost.Title" class="form-control" />
                <span asp-validation-for="ForumPost.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ForumPost.Text" class="control-label"></label>
                <input asp-for="ForumPost.Text" class="form-control" />
                <span asp-validation-for="ForumPost.Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ForumPost.Date" class="control-label"></label>
                <input asp-for="ForumPost.Date" class="form-control" />
                <span asp-validation-for="ForumPost.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ForumPost.UserId" class="control-label"></label>
                <input asp-for="ForumPost.UserId" class="form-control" />
                <span asp-validation-for="ForumPost.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ForumPost.Image" class="control-label"></label>
                <input asp-for="ForumPost.Image" class="form-control" />
                <span asp-validation-for="ForumPost.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ForumPost.UserImage" class="control-label"></label>
                <input asp-for="ForumPost.UserImage" class="form-control" />
                <span asp-validation-for="ForumPost.UserImage" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ForumPost.Flagged" /> @Html.DisplayNameFor(model => model.ForumPost.Flagged)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
