html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
.festive-background {
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.festive-heading {
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.festive-text {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 10px;
}



body {
  margin-bottom: 60px;
  background-color:lightgrey;
}
.post-container {
    background-color: #343a40;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.scrollable-container {
    max-height: 800px; /* Justera denna höjd efter behov */
    overflow-y: auto;
    overflow-x: hidden;
    background-color: slategrey; /* Ljus bakgrund för posts */
    color: #212529;
    padding: 10px;
}
    .scrollable-container .post {
        background-color: whitesmoke; /* Bakgrund för varje post */
        color: #212529;
        border: 1px solid #ddd; /* Border runt varje post */
        border-radius: 8px;
        padding: 16px;
        margin-bottom: 16px;
    }
.button {
    background: rgba(118,205,229,1);
    background: -moz-linear-gradient(left, rgba(118,205,229,1) 0%, rgba(118,205,229,1) 42%, rgba(150,218,237,1) 78%, rgba(66,183,215,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(118,205,229,1)), color-stop(42%, rgba(118,205,229,1)), color-stop(78%, rgba(150,218,237,1)), color-stop(100%, rgba(66,183,215,1)));
    background: -webkit-linear-gradient(left, rgba(118,205,229,1) 0%, rgba(118,205,229,1) 42%, rgba(150,218,237,1) 78%, rgba(66,183,215,1) 100%);
    background: -o-linear-gradient(left, rgba(118,205,229,1) 0%, rgba(118,205,229,1) 42%, rgba(150,218,237,1) 78%, rgba(66,183,215,1) 100%);
    background: -ms-linear-gradient(left, rgba(118,205,229,1) 0%, rgba(118,205,229,1) 42%, rgba(150,218,237,1) 78%, rgba(66,183,215,1) 100%);
    background: linear-gradient(to right, rgba(118,205,229,1) 0%, rgba(118,205,229,1) 42%, rgba(150,218,237,1) 78%, rgba(66,183,215,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76cde5', endColorstr='#42b7d7', GradientType=1 );
    padding: 15px 30px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.modal-dialog {
    max-width: 80%; /* Ökar bredden på modalen */
}

.modal-content {
    padding: 20px; /* Lägg till marginal runt innehållet */
    font-size: 16px; /* Justerar textstorleken */
}
    
   
    .modal-content form textarea {
        width: 100%; 
        margin-bottom: 10px;  
        padding: 10px;  
    }