@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h1>Cookiepolicy</h1>
<br />
<h3>Vad är cookies?</h3>

<br />
<p>Cookies är små textfiler som lagras på din enhet (dator, surfplatta eller mobil) när du besöker en webbplats.
    Dessa textfiler innehåller information som används för att förbättra din upplevelse av webbplatsen.</p>
    <br />
<h3>Hur vi använder cookies</h3>
<br />
<p>På vår webbplats använder vi cookies för följande syften:</p>
<br />
<p> 1. Autentisering: Vi använder cookies för att hålla reda på vem som är inloggad. 
    Detta hjälper oss att säkerställa att du förblir inloggad under ditt besök på webbplatsen och att vi kan erbjuda dig personligt anpassade tjänster.</p>
    <br />
<p>
    2. Säkerhet: Vi använder cookies för att förbättra säkerheten på vår webbplats. Till exempel, kan vi använda cookies för att upptäcka skadlig aktivitet.
</p>
<br />
<p> 3.Sessionshantering: Cookies hjälper oss att hantera din session när du navigerar på vår webbplats, 
    så att du inte behöver logga in på nytt varje gång du byter sida.</p>